body {
    font-family: Helvetica, Arial, sans-serif;
    background: rgb(121, 46, 134);
    margin: 0;
    text-align: center;
    display: grid;
    align-content: center;
    min-hieght: 100vh;
}

h1 {
    font-size: 48px;
    text-transform: uppercase;
    text-align: center;
    
}

h2 {
    text-align: center;
}

p {
    color: rgb(189, 132, 189);
    max-width: 30em;
    margin: 0 auto;
}

ul {
    margin: 0 auto;
    padding: 0;
}

a {
 color: rgb(216, 143, 202);   
}